<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Календарь праздников</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Гастрономический календарь</h1>
    <p class="date">{{ date|format_date }}</p>
    {% if holidays %}
      <ul class="holidays">
        {% for h in holidays %}
          <li>{{ h }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-holiday">Нет праздников</p>
    {% endif %}
    <a href="/calendar" class="calendar-button">Календарь</a>
  </div>
</body>
</html>